.hotel-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    padding-right: 30px;
}

.house {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    background-color: rgba(65, 82, 46, .05);
    position: relative
}

.main-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-h h5 {
    font-weight: 300;
    font-size: 17px;
    color: #424242;
}

.main-h svg path:hover {
    fill: #C4C4C4;
    cursor: pointer;
}

.house span{
    margin-left: -16px;
    position: absolute;             
    top: 50%;                        
    transform: translate(0, -50%)
}
.descr-hoiel {
    width: 520px;
    margin-left: 24px;
}