.search {
    width: 360px;
    height: 410px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-top: 25px;
    
}

.search-input label {
    font-size: 16px;
    color: #424242;
    font-weight: 500;
}

.search-input input {
    width: 300px;
    height: 50px;
    border: #C9CACC 1px solid;
    border-radius: 5px;
    margin-top: 5px;
    padding: 15px;
    color: #424242;
    font-weight: 300;
    font-size: 16px;
}

.search-btn {
    width: 300px;
    height: 50px;
    background: linear-gradient(135deg, rgb(65, 82, 46), rgb(190, 128, 34));
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.search-btn:hover {
    background: linear-gradient(135deg, rgba(65, 82, 46, .8), rgba(190, 128, 34, .8));
}

.search-btn:active {
    background: linear-gradient(135deg, rgb(65, 82, 46,), rgb(190, 128, 34));
}