.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(./bg.jpg) no-repeat ;
    background-size: cover;
}

.login {
    width: 410px;
    height: 380px;
    margin-top: 320px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h3 {
    font-size: 24px;
    color: #424242;
    margin-top: 33px;
    font-weight: 500;
}

.form_field {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    /* margin-top: 25px; */
    padding: 15px;
    color: #424242;
    font-weight: 300;
}

.form_field label {
    font-size: 16px;
    color: #424242;
    font-weight: 300;
}

.form_field input {
    width: 345px;
    height: 50px;
    border: #C9CACC 1px solid;
    border-radius: 5px;
    margin-top: 5px;
    padding: 16px;
    color: #424242;
    font-weight: 300;
    font-size: 16px;
}

.login-btn {
    width: 345px;
    height: 50px;
    background: linear-gradient(135deg, rgb(65, 82, 46), rgb(190, 128, 34));
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.login-btn:hover {
    background: linear-gradient(135deg, rgba(65, 82, 46, .8), rgba(190, 128, 34, .8));
}

.login-btn:active {
    background: linear-gradient(135deg, rgb(65, 82, 46,), rgb(190, 128, 34));
}

.form_error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}
  
input:invalid:not(:placeholder-shown) {
    border-color: red;
}
input:invalid:not(:placeholder-shown) + .form_error {
    display: block;
}